[submodule "extension/桌面大战"]
	path = extension/桌面大战
	url = https://github.com/Show-K/animation-vs-noname
[submodule "extension/大乱桌斗"]
	path = extension/大乱桌斗
	url = https://github.com/Show-K/super-smash-tabletop-lite
