div.block > progress {
	left: 12%;
	width: 70%;
    position: relative;
	-webkit-appearance: none;
	height: 10px;
    border: 2px solid;
    border-radius: 15px;
	vertical-align: middle;
}

div.block > progress::-webkit-progress-bar {
	background: rgb(239,239,239);
	border-radius: 0.2rem;
}

div.block > progress::-webkit-progress-value {
	border-radius: 0.2rem; 
}

/* 改过颜色后，将下面的对应的颜色都修改了。比如red，yellow等 */

div.block > progress.red::-webkit-progress-value {
	background: red;
}

div.block > progress.green::-webkit-progress-value {
	background: green;
}

div.block > progress.blue::-webkit-progress-value {
	background: blue;
}

div.block > progress.navy::-webkit-progress-value {
	background: navy;
}

div.block > progress.deeppink::-webkit-progress-value {
	background: deeppink;
}

div.block > progress.brown::-webkit-progress-value {
	background: brown;
}