progress.oafaProgress {
	width: 75%;
	height: 10px;
	border: 2px solid;
	border-radius: 15px;
	vertical-align: middle;
	appearance: none;
	-webkit-appearance: none;
}

progress.oafaProgress::-webkit-progress-bar {
	background: rgb(239, 239, 239);
	border-radius: 0.2rem;
}

progress.oafaProgress::-webkit-progress-value {
	border-radius: 0.2rem;
	background: rgb(0, 117, 255);
}