.qh-background{
    z-index: 22;
    position: absolute;
    background-size: cover;
    top: 50%;
    left: 50%;
    display: block;
    min-width: 100%;
    min-height: 100%;
    transform:translate(-50%,-50%);
    background-image: url('qhly_pic_background3.jpg');
}

.qh-window{
    position: absolute;
    height: 1338px;
    width: 778px;
    left: 50%;
    top: 50%;
    display: block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: translate(-50%,-50%);
    background-image: url('newui_background_wz.png');
    z-index: 30;
}

.qh-window>.qh-back{
    z-index: 31;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 8%;
    height: 15.3%;
    display: block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('newui_back_wz.png');
}

.qh-window>.qh-avatar{
    z-index: 32;
    position: absolute;
    left: calc(7.92%);
    top: calc(12.47%);
    width: 27.06%;
    height: 65.17%;
    display: block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('newui_avatar_sksn.png');
}

.qh-avatar>.qh-image-standard{
    z-index: 33;
    position: absolute;
    top:calc(4.93%);
    left:calc(5.52%);
    width: calc(88.95%);
    height: calc(92.11%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
}

.qh-avatar>.qh-image-lutou{
    z-index: 33;
    position: absolute;
    height: calc(99.02%);
    width: calc(88.95%);
    top:calc(-1.5%);
    left:calc(5.52%);
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
    border:none;
    box-shadow: 0px 0px 0px 0px;
}

.qh-avatar>.qh-avatar-label{
    z-index: 34;
    position: absolute;
    display: block;
    width: calc(31.22%);
    height:calc(88.17%);
    left: calc(-10.00%);
    top: calc(-7.8%);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('newui_avatar_label_wz.png');
}

.qh-avatar-label>.qh-avatar-label-rank{
    z-index: 35;
    position: absolute;
    top:calc(100%);
    left:calc(20%);
    width:calc(88.94%);
    height:calc(22.49%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
}

.qh-avatar>.qh-avatar-dragonhead{
    z-index: 34;
    left: calc(61.71%);
    top:calc(-12.62%);
    position: block;
    width: calc(56.91%);
    height:calc(68.84%);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('newui_dragonhead.png');
}

.qh-avatar>.qh-avatar-dragontail{
    z-index: 34;
    left: calc(37.85%);
    top:calc(77.91%);
    position: block;
    width: calc(67.96%);
    height:calc(26.62%);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('newui_dragontail.png');
}

.qh-avatar-label>.qh-avatar-label-group{
    z-index: 35;
    position: absolute;
    left: calc(8.8496%);
    top:calc(2.237%);
    height: calc(20%);
    width: calc(84%);
    color:yellow;
    font-family: 'xingkai';
    line-height: 100%;
    font-size: 3.7em;
    text-shadow: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.qh-avatar-label>.qh-avatar-label-name{
    z-index: 35;
    position: absolute;
    top:calc(30.2%);
    left:calc(26.55%);
    width:calc(47.79%);
    height:calc(52.13%);
    color:white;
    font-family: 'xingkai';
    line-height: 100%;
    font-size: 2.8em;
    text-shadow: 2px 2px 2px red;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.qh-window>.qh-hp{
    z-index: 34;
    position: absolute;
    left:calc(5.23%);
    bottom: calc(9.64%);
    width: calc(22.80%);
    height: calc(11.70%);
    background-image: url('newui_hp_wz.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.qh-hp>.qh-hptext{
    z-index: 35;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    line-height: 100%;
    font-size: 2.1em;
    color:gold;
    left: calc(16.39%);
    top:calc(0%);
    font-family: 'xingkai';
    height: calc(100%);
    width:calc(25%);
    -webkit-text-stroke: 1px black;
}

.qh-window>.qh-mp{
    z-index: 34;
    position: absolute;
    left:calc(5.23%);
    bottom: calc(2.83%);
    width: calc(22.80%);
    height: calc(11.70%);
    background-image: url('newui_mp_wz.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.qh-mp>.qh-mptext{
    z-index: 35;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    line-height: 100%;
    font-size: 2.1em;
    color:skyblue;
    left: calc(16.39%);
    top:calc(0%);
    font-family: 'xingkai';
    height: calc(100%);
    width:calc(25%);
    -webkit-text-stroke: 1px black;
}

.qh-window>.qh-button1{
    z-index: 31;
    left: calc(39.54%);
    top:calc(14.65%);
    width: calc(14.05%);
    height: calc(9.13%);
    background-image: url('newui_button_wz.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    color:white;
    font-family: 'qh_youyuan';
    line-height: 100%;
    font-size: 1.8em;
}


.qh-below-menu{
    z-index: 39;
    width: calc(14.05%);
    height: auto;
    max-height: calc(76% - 20px);
    overflow:scroll;
    left: calc(39.54%);
    top:calc(23.78%);
    border-spacing:0px 0px;
    border-collapse: separate;
}

.qh-below-menu-item{
    z-index: 15;
    color: white;
    font-family: 'qh_songhei';
    font-size: 1.8em;
    height:65px;
    width: calc(100%);
    background-image: url('newui_button_wz.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    vertical-align: middle;
}

.qh-button1>.qh-otherinfoarrow{
    display: block;
    z-index:15;
    right:10px;
    top:calc(50% - 11px);
    width: 22px;
    height: 22px;
    background-image: url('qhly_pic_down_arrow.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}



.qh-window>.qh-button2{
    z-index: 31;
    left: calc(53.44%);
    top:calc(14.65%);
    width: calc(14.05%);
    height: calc(9.13%);
    background-image: url('newui_button_wz.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    color:white;
    font-family: 'qh_youyuan';
    line-height: 100%;
    font-size: 1.8em;
}

.qh-window>.qh-button3{
    z-index: 31;
    left: calc(67.34%);
    top:calc(14.65%);
    width: calc(14.05%);
    height: calc(9.13%);
    background-image: url('newui_button_wz.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    color:white;
    font-family: 'qh_youyuan';
    line-height: 100%;
    font-size: 1.8em;
}

.qh-window>.qh-button4{
    z-index: 31;
    left: calc(81.24%);
    top:calc(14.65%);
    width: calc(14.05%);
    height: calc(9.13%);
    background-image: url('newui_button_wz.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    color:white;
    font-family: 'qh_youyuan';
    line-height: 100%;
    font-size: 1.8em;
}

.qh-window>.qh-page-introduce{
    z-index: 31;
    left:calc(39.84%);
    top:calc(23.52%);
    width: calc(54.41%);
    height: calc(67.10%);
    display: block;
}

.qh-page-introduce>.qh-page-introduce-text{
    z-index: 32;
    left:20px;
    top:0px;
    width: calc(100% - 40px);
    height: calc(100%);
    display: block;
    color:white;
    font-family: 'qh_youyuan';
    font-size: 20px;
    overflow: scroll;
}

.qh-window>.qh-page-skill{
    z-index: 31;
    left:calc(39.84%);
    top:calc(23.52%);
    width: calc(54.41%);
    height: calc(67.10%);
    display: block;
}

.qh-window>.qh-page-skin{
    z-index: 31;
    left:calc(39.84%);
    top:calc(23.52%);
    width: calc(54.41%);
    height: calc(67.10%);
    display: block;
}

.qh-window>.qh-page-config{
    z-index: 31;
    left:calc(39.84%);
    top:calc(23.52%);
    width: calc(54.41%);
    height: calc(67.10%);
    display: block;
}

.qh-page-config>.qh-page-config-text{
    z-index: 32;
    left:20px;
    top:0px;
    width: calc(100% - 40px);
    height: calc(100%);
    display: block;
    color:white;
    font-family: 'qh_youyuan';
    font-size: 20px;
    overflow: scroll;
}

.qh-page-skill>.qh-page-skill-text{
    z-index: 32;
    left:20px;
    top:0px;
    width: calc(100% - 40px);
    height: calc(100%);
    display: block;
    color:white;
    font-family: 'qh_youyuan';
    font-size: 20px;
    overflow: scroll;
}

.qh-page-skin>.qh-page-skin-text{
    z-index: 32;
    left:40px;
    top:0px;
    width: calc(100% - 80px);
    height: calc(56.13%);
    display: block;
    color:white;
    font-family: 'qh_youyuan';
    font-size: 18px;
    overflow: scroll;
}

.qh-page-skin>.qh-page-skinavatar1{
    z-index: 32;
    left:calc(7.55%);
    bottom:calc(-1.34%);
    width:calc(26.24%);
    height:calc(48.66%);
    display: block;
    background-image: url('newui_skin_background_wz.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.qh-page-skin>.qh-page-skinavatar2{
    z-index: 32;
    left:calc(32.55%);
    bottom:calc(-1.34%);
    width:calc(26.24%);
    height:calc(48.66%);
    display: block;
    background-image: url('newui_skin_background_wz.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.qh-page-skin>.qh-page-skinavatar3{
    z-index: 32;
    left:calc(57.55%);
    bottom:calc(-1.34%);
    width:calc(26.24%);
    height:calc(48.66%);
    display: block;
    background-image: url('newui_skin_background_wz.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}


.qh-page-skinavatarcover{
    z-index: 33;
    width: calc(72.25%);
    height: calc(87.01%);
    left:calc(14.14%);
    bottom:calc(5.91%);
    display: block;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    border-bottom-right-radius:7px;
    border-bottom-left-radius:7px;
    transition: background-image 0s;
}

.qh-page-skinavatarcover>.qh-page-skinavatarpicture{
    z-index: 34;
    width: calc(100%);
    height: calc(100%);
    left:calc(0%);
    top:calc(0%);
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    border-bottom-right-radius:7px;
    border-bottom-left-radius:7px;
    transition: background-image 0s;
    border:none;
    box-shadow: 0px 0px 0px 0px;
}

.qh-page-skinavatarcover>.qh-page-skinavatarpicture-lutou{
    z-index: 34;
    width: calc(100%);
    height: calc(106.55%);
    left:calc(0%);
    top:calc(-6.55%);
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    border-bottom-right-radius:7px;
    border-bottom-left-radius:7px;
    transition: background-image 0s;
    border:none;
    box-shadow: 0px 0px 0px 0px;
}

.qh-page-skinavatarlevel{
    z-index: 35;
    width: calc(42.93%);
    height:calc(32.28%);
    bottom:calc(4.33%);
    right:calc(11.52%);
    display: block;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0s;
}

.qh-page-skin>.qh-page-skin-leftarrow{
    z-index:35;
    left: calc(0.34%);
    bottom:calc(14.88%);
    width: calc(10.01%);
    height: calc(14.20%);
    display: block;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('newui_arrow_left_wz.png');
}

.qh-page-skin>.qh-page-skin-rightarrow{
    z-index:35;
    left: calc(79.35%);
    bottom:calc(14.88%);
    width: calc(10.01%);
    height: calc(14.20%);
    display: block;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('newui_arrow_right_wz.png');
}

.qh-page-skin>.qh-hide-skin-button{
    z-index:35;
    left:0px;
    bottom:0px;
    width: calc(6.86%);
    height: calc(9.58%);
    display: block;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('qhly_skin_button_wz.png');
}