#arena>#dui-controls {
    z-index: 8 !important;
}

@keyframes initbutton {
    0% {}

    50% {
        transform: scale(0.9);
    }

    100% {}
}

.yuqi {
    --w: 1600px;
    --h: 480px;
    width: calc(var(--w));
    height: calc(var(--h));
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 6;
    /* padding: 0.5% 8%; */
    box-sizing: border-box;
    /* transform: translate(-50%, -55%); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    /* background-image: url('image/effect/dialog.png'); */
}

.yuqitishi {
    --h: 30px;
    --y: 1;
    top: 0;
    left: 0;
    position: relative;
    height: var(--h);
    width: 100%;
    text-align: center;
    font-size: calc(var(--h)*0.66);
    line-height: calc(var(--h)*var(--y));
    font-weight: bolder;
}

.yuqitishiimg {
    width: 2%;
    height: 20%;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    left: 52%;
    top: 24%;
    /* transform: translateY(-50%); */
    background-image: url("image/effect/video_host_detail_array.png");
}

/* .shoushaFont {
    background-image: -webkit-linear-gradient(bottom, #ac8250 50%, #ebe48a, #f0ecd1);
    -webkit-background-clip: text;
    text-shadow: rgba(0, 0, 0, 0) 0 0 0;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(2px 0 0 black) drop-shadow(-2px 0 0 black) drop-shadow(0 2px 0 black) drop-shadow(0 -2px 0 black);
} */

.shoushaFont {
    background: linear-gradient(180deg, #fcfcbf 35%, #b58b59 50%);
    font-family: 'HYZLSJ';
    font-size: 38px !important;
    text-align: center;
    font-weight: 700;
    -webkit-background-clip: text;
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(2px 0 0 black) drop-shadow(-2px 0 0 black) drop-shadow(0 2px 0 black) drop-shadow(0 -2px 0 black);
}

.jinyu {
    --h: 200px;
    --y: 0.5;
    width: 28%;
    float: left;
    height: calc(var(--h)*var(--y));
    margin-right: -50px !important;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.yuqicards {
    --h: 200px;
    --y: 0.5;
    width: 72%;
    float: right;
    margin-left: -50px !important;
    position: relative;
    height: calc(var(--h)*var(--y));
    overflow: hidden;
}

.yuqiAll {
    height: 160px;
    text-align: left;
    position: absolute;
    white-space: nowrap;
    background-color: rgba(162, 133, 91, 0.4);
    border: 2px solid rgb(41, 26, 3);
    border-radius: 4px;
}

.yuqi0 {
    --h: 26px;
    --w: 98%;
    --z: 0.9;
    width: var(--w);
    left: 0;
    top: var(--h);
    zoom: var(--z);
}

.yuqi1 {
    --w: 48.2%;
    --h: 26px;
    --z: 0.9;
    width: var(--w);
    left: 0;
    bottom: var(--h);
    margin-right: -5px !important;
    zoom: var(--z);
}

.yuqi2 {
    --w: 48.2%;
    --h: 26px;
    --z: 0.9;
    width: var(--w);
    right: 0;
    bottom: var(--h);
    margin-left: -5px !important;
    zoom: var(--z);
}

.tishi0 {
    width: 99.5%;
    height: 20px;
    left: 0;
    top: 0;
    border: 2px solid rgb(41, 26, 3);
    border-radius: 4px;
    background-color: rgba(255, 249, 215, 0.4);
    color: black;
    font-size: 15px;
    text-align: center;
    position: relative;
}

.tishi1 {
    --w: 49.4%;
    width: var(--w);
    position: absolute;
    height: 20px;
    bottom: 0;
    left: 0;
    border: 2px solid rgb(41, 26, 3);
    border-radius: 4px;
    color: black;
    font-size: 15px;
    text-align: center;
    margin-right: -5px !important;
    background-color: rgba(255, 249, 215, 0.4);

}

.tishi2 {
    --w: 49.4%;
    width: var(--w);
    position: absolute;
    height: 20px;
    bottom: 0;
    right: 0;
    border: 2px solid rgb(41, 26, 3);
    border-radius: 4px;
    color: black;
    font-size: 15px;
    text-align: center;
    margin-left: -5px !important;
    background-color: rgba(255, 249, 215, 0.4);
}

.confirmdown {
    transform: translateY(180%);
}

.confirmdown2 {
    transform: translateY(280%);
}

.init {
    width: 800px;
    height: 268px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -52%);
    background-image: url('image/effect/init.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 6;
    position: absolute;
    padding: 0 1%;
}

.inittishi {
    --h: 25px;
    top: 0;
    left: 0;
    position: absolute;
    height: var(--h);
    width: 100%;
    text-align: center;
    font-size: calc(var(--h)*0.8);
    line-height: calc(var(--h)+1.5);
    font-weight: lighter;
    /* letter-spacing: 6px; */
    color: #523a24;
    font-family: 'yuanli';
}

.headpic {
    --w: 50px;
    background-size: 100%;
    position: absolute;
    height: var(--w);
    width: var(--w);
}

.headname {
    font-size: 13px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 3px;
    top: 6px;
    /*text-align: center;*/
    writing-mode: vertical-lr;
    font-family: 'yuanli';
}

.skillnode {
    width: 75px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    background-image: url('image/effect/skill2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'yuanli';
    text-shadow: 1px 1px 0px #000000,
        -1px 1px 0px #000000,
        1px -1px 0px #000000,
        -1px -1px 0px #000000;
}

.skillnodelimit {
    background-image: url('image/effect/skill3.png');
}

.initselected {
    background-image: url('image/effect/skillsel2.png');
}

.initselected2 {
    background-image: url('image/effect/skillsel3.png');
}


.initbg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.skilltishi {
    --h: 65px;
    width: 350px;
    height: var(--h);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    z-index: 10;
    overflow: hidden;
    transition: none;
    pointer-events: none;
}

.radiusTL {
    width: 50%;
    height: 50%;
    background-image: radial-gradient(5px at top left, transparent 5px, rgba(24, 23, 23, 0.7));
    top: 0;
    left: 0;
}

.radiusTR {
    width: 50%;
    height: 50%;
    background-image: radial-gradient(5px at top right, transparent 5px, rgba(24, 23, 23, 0.7));
    top: 0;
    right: 0;
}

.radiusBL {
    width: 50%;
    height: 50%;
    background-image: radial-gradient(5px at bottom left, transparent 5px, rgba(24, 23, 23, 0.7));
    bottom: 0;
    left: 0;
}

.radiusBR {
    width: 50%;
    height: 50%;
    background-image: radial-gradient(5px at bottom right, transparent 5px, rgba(24, 23, 23, 0.7));
    bottom: 0;
    right: 0;
}