.Searcher {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	z-index: 4;
	color: white;
	text-shadow: none;
}

.Searcher>.menu {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 50px;
	background: rgba(0, 0, 0, 0.6);
	color: white;
}

.Searcher>.content {
	position: absolute;
	left: 0;
	top: 50px !important;
	width: 100%;
	height: calc(100% - 50px) !important;
	background: none;
	overflow-y: auto;
}

.Searcher>.content>.content-container {
	margin: 0;
}

.Searcher>.content>.content-container>.content {
	width: 100%;
	height: 100%;
}

.Searcher>.content>.content-container>.content::-webkit-scrollbar {
	display: block !important;
	width: 15px;
}

.Searcher>.content>.content-container>.content::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 10px;
}

.Searcher>.content>.content-container>.content::-webkit-scrollbar-thumb:hover {
	background: rgb(168,168,168);
}

.Searcher>.content>.content-container>.content::-webkit-scrollbar-thumb:active {
	background: rgb(120,120,120);
}

.Searcher>.content>.content-container>.content::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-device-width: 1000px) and (max-device-height: 600px) {
	.Searcher>.content>.content-container>.content::-webkit-scrollbar {
		width: 30px;
	}
	.Searcher>.content>.content-container>.content::-webkit-scrollbar-thumb {
		border-radius: 20px;
	}
	.Searcher>.content>.content-container>.content::-webkit-scrollbar-track {
		border-radius: 20px;
	}
}

.Searcher>.content>.content-container>.content>.caption {
	display: inline-block;
	width: 100%;
	height: auto;
	margin: 0;
}

.Searcher>.content>.content-container>.content>.caption div {
	position: static;
	height: auto;
}

.Searcher>.content>.content-container>.content>.caption div>*[ondblclick],
.Searcher>.content>.content-container>.content>.caption div>li>*[ondblclick],
.Searcher>.content>.content-container>.content>.caption div>img[onclick] {
	cursor: pointer;
}

.Searcher>.menu>input {
	position: absolute;
	left: calc(50% - 100px);
	top: calc(50% - 15px);
	width: 200px;
	height: 25px;
	color: white;
	font-size: 20px;
	text-align: center;
	border: 2px solid rgba(255, 255, 100, 0.4);
	border-radius: 2px;
	background: transparent;
}

.Searcher>.menu>input.qnssWrong {
	border: 2px solid red !important;
	animation: qnssWrong 0.2s ease-in-out 2 !important;
}

.Searcher>.menu>ul {
	z-index: 1000;
	background: white;
	/* 去除li的原点占位 */
	padding-left: 0px;
	position: absolute;
	top: calc(50% + 15px);
	left: calc(50% - 100px);

	/* 
    去掉宽度后就可以自适应了
    width: 200px;
    */
	max-height: 400px;
	overflow: scroll;
	list-style: none;
	border: 1px solid #778899;
}

.Searcher>.menu>ul li {
	min-width: 200px;
	width: auto;
	font-size: 25px;
	color: black;
	text-shadow: none;
	padding: 5px;
}

.Searcher>.menu>ul li>.description {
	float: right;
	right: 5px;
	width: 0;
	height: 0;
	border-top: 13px solid transparent;
	border-bottom: 13px solid transparent;
	border-left: 13px solid black;
}

.Searcher>.menu>.chooseModule {
	position: absolute;
	left: calc(50% - 250px);
	top: calc(50% - 15px);
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: rgba(200, 200, 100, 0.5);
}

.Searcher>.menu>.chooseModule>.list {
	overflow: hidden;
	max-height: 0px;
	background: rgb(255, 255, 255);
	width: 100px;
	text-align: center;
	position: absolute;
	top: 40px;
	margin: 0;
	padding: 0;
	/* 去除li的原点占位 */
	padding-left: 0px;
	list-style: none;
	z-index: 1000;
	text-shadow: none;
	height: 0;
	transition: height cubic-bezier(0.25, 0.46, 0.45, 0.94) .5s;
}

.Searcher>.menu>.chooseModule>.list>li {
	border: 1px solid black;
}

.Searcher>.menu>.chooseModule>.list.hover {
	display: block;
	height: 126px;
	max-height: 200px;
	color: rgb(0, 0, 0);
	border: 1px solid #000;
	position: absolute;
	transition: height cubic-bezier(0.25, 0.46, 0.45, 0.94) .5s;
}

.showDescription {
	min-width: 150px;
	width: auto;
	min-height: 100px;
	height: auto;
	overflow: scroll;
	background-color: white;
	color: black;
	text-shadow: none;
	font-size: 20px;
	border: 2px solid black;
}

.Searcher>.menu>ul li:not(:last-child) {
	border-bottom: 1px solid black;
}

.Searcher>.menu>ul li.hover {
	background-color: #87CEFA;
}

.Searcher>.menu>.search {
	position: absolute;
	left: calc(50% + 115px);
	top: calc(50% - 15px);
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: rgba(200, 200, 100, 0.5);
}

.Searcher>.menu>.clear {
	position: absolute;
	left: calc(50% + 190px);
	top: calc(50% - 15px);
	width: 95px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: rgba(200, 200, 100, 0.5);
}


.Searcher>.menu>.close {
	position: absolute;
	right: 5px;
	top: calc(50% - 15px);
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: red;
}

.updateContent {
	top: 20%;
	left: 15% !important;
	width: 70% !important;
	height: 60% !important;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 100;
	overflow-y: scroll;
}

.updateContentClose {
	position: fixed !important;
	right: 15% !important;
	width: 50px;
	height: 50px;
	background: silver;
	border-radius: 25px;
	box-shadow: 2px 2px 5px 0px black;
	cursor: pointer;
	z-index: 100;
}

.updateContentClose:hover {
	background: red;
}

.updateContentClose:before {
	position: absolute;
	content: '';
	width: 30px;
	height: 10px;
	background: white;
	transform: rotate(45deg);
	top: 20px;
	left: 10px;
}

.updateContentClose:after {
	content: '';
	position: absolute;
	width: 30px;
	height: 10px;
	background: white;
	transform: rotate(-45deg);
	top: 20px;
	left: 10px;
}

.updateContentButton {
	z-index: 100;
	position: absolute;
	bottom: 15px;
	width: 30%;
	left: 35%;
}

.qnssSee {
	color: #409eff;
	text-decoration: underline;
	cursor: pointer;
}

div.qnssWave {
	font-size: 25px;
	color: black;
	-webkit-text-stroke: 1px #00ffff;
	letter-spacing: 5px;
	position: relative;
}

div.qnssWave::before {
	content: attr(data-text);
	position: absolute;
	color: #00ffff;
	/* 添加波浪动画 */
	animation: qnssWave 4s ease-in-out infinite;
}

@keyframes qnssWave {

	0%,
	100% {
		clip-path: polygon(0 100%,
				0 61%,
				16% 77%,
				29% 86%,
				44% 90%,
				62% 88%,
				78% 81%,
				89% 74%,
				100% 62%,
				100% 100%);
	}

	50% {
		clip-path: polygon(0 100%,
				0 25%,
				16% 52%,
				29% 65%,
				43% 75%,
				64% 76%,
				77% 72%,
				88% 62%,
				100% 49%,
				100% 100%);
	}
}

.caption.qnssCaption>.qnssWave {
	display: inline-block !important;
	width: 300px !important;
	text-align: center !important;
	font-size: 35px !important;
	margin: 0 auto !important;
}

.qnssArrowDown::before {
	content: "↓";
}

.qnssArrowUp::before {
	content: "↑";
}

.qnssArrowDown {
	width: 35px !important;
	font-size: 35px !important;
	display: inline-block !important;
	animation: qnssSlide1 1s ease-in-out infinite;
	cursor: pointer;
}

.qnssArrowUp {
	width: 35px !important;
	font-size: 35px !important;
	display: inline-block !important;
	animation: qnssSlide2 1s ease-in-out infinite;
	cursor: pointer;
}

@keyframes qnssSlide1 {

	0%,
	100% {
		transform: translate(0, 0);
	}

	50% {
		transform: translate(0, 10px);
	}
}

@keyframes qnssSlide2 {

	0%,
	100% {
		transform: translate(0, 0);
	}

	50% {
		transform: translate(0, -10px);
	}
}

@keyframes qnssWrong {
	0% {
		transform: translatex(0%);
	}

	25% {
		transform: translatex(-10%);
	}

	50% {
		transform: translatex(0%);
	}

	75% {
		transform: translatex(10%);
	}

	100% {
		transform: translatex(0%);
	}
}

pre.hljs {
	overflow: scroll;
}

/*

.qnssCaption > .buttons.smallzoom > .button.character.newstyle {
	height: 108px;
	background-size: cover;
	color: white;
	text-shadow: black 0 0 2px;
	width: 90px;
	height: 90px;
	position: relative;
	margin: 6px;
	box-shadow: rgb(0 0 0 / 40%) 0 0 0 1px, rgb(0 0 0 / 20%) 0 3px 10px;
	border-radius: 8px;
}

.qnssCaption > .buttons.smallzoom > .button.character.newstyle > .name {
	overflow: visible;
	font-family: 'xinwei';
	top: 8px;
	max-height: 84px;
	left: 5px;
}

.qnssCaption > .buttons.smallzoom > .button.character.newstyle > .hp {
	left: auto;
    top: auto;
    text-align: right;
    right: 6px;
    bottom: 5px;
	width: 72px;
    line-height: 14px;
	color: white;
    text-shadow: black 0 0 2px;
}

.qnssCaption>.buttons.smallzoom>.button.character.newstyle>.identity {
	font-family: xinwei, xinwei;
	border: none;
    background: none !important;
	left: auto;
    right: 3px;
    top: 3px;
	border-radius: 12px;
	text-align: center;
    width: 22px;
    height: 22px;
}

*/

/* 
 * 分页css, 颜色样式修改
 * https: //github.com/accforgit/blog-data/blob/master/%E7%AE%80%E5%8D%95%E5%88%86%E9%A1%B5/demo/style.css
 */

.Searcher .pagination {
	margin-top: 18px;
	font-size: 0;
	text-align: center;

	/* 自行添加的居中 */
	position: fixed;
	bottom: 0px;
	display: block;
	left: 0;
	right: 0;
	margin: 8px auto;
	z-index: 100;
}

.Searcher .pagination .page-li {
	display: inline-block;
	font-size: 15px;
	line-height: 1;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.Searcher .pagination .page-li:not(.number-ellipsis):hover {
	cursor: pointer;
	background-color: #409eff;
}

.Searcher .pagination .page-li.page-active {
	cursor: default;
	color: #fff;
	border-color: #409eff;
	background-color: #409eff;
}

.Searcher .pagination .page-li.number-ellipsis {
	border: none;
	cursor: default;
}

.Searcher .pagination .page-li.number-ellipsis:hover {
	color: #409eff;
}

.Searcher .pagination .page-number {
	width: 38px;
	padding-top: 8px;
	padding-bottom: 8px;
	border: 1px solid #EAEAEA;
	text-align: center;
}

.Searcher .pagination .page-prev {
	padding: 8px 14px;
	margin-right: 8px;
	border: 1px solid #EAEAEA;
}

.Searcher .pagination .page-prev.no-prev {
	color: #c6c6c6;
}

.Searcher .pagination .page-prev.no-prev:hover {
	cursor: default;
	background-color: #409eff;
}

.Searcher .pagination .page-next {
	padding: 8px 14px;
	margin-left: 8px;
	border: 1px solid #EAEAEA;
}

.Searcher .pagination .page-next.no-next {
	color: #c6c6c6;
}

.Searcher .pagination .page-next.no-next:hover {
	cursor: default;
}

.Searcher .pagination .number-ellipsis {
	display: inline-block;
	font-size: 15px;
	padding: 8px 14px;
}

.Searcher .pagination .number-ellipsis.page-hidden {
	display: none;
}

#page-go {
	margin-top: 10px;
	text-align: center;
}