.Searcher {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	z-index: 4;
}

.Searcher>.menu {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 50px;
	background: rgba(0, 0, 0, 0.6);
}

.Searcher>.content {
	position: absolute;
	left: 0;
	top: 50px !important;
	width: 100%;
	height: calc(100% - 50px) !important;
	background: none;
	overflow-y: auto;
}

.Searcher>.content>.content-container>.content {
	width: 100%;
	height: 100%;
}

.Searcher>.content>.content-container>.content>.caption {
	display: inline-block;
	width: 100%;
	height: auto;
	margin: 0;
}

.Searcher>.content>.content-container>.content>.caption div {
	position: static;
	height: auto;
}

.Searcher>.content>.content-container>.content>.caption div > *[ondblclick],
.Searcher>.content>.content-container>.content>.caption div > li > *[ondblclick],
.Searcher>.content>.content-container>.content>.caption div > img[onclick]  {
	cursor: pointer;
}

.Searcher>.menu>input {
	position: absolute;
	left: calc(50% - 100px);
	top: calc(50% - 15px);
	width: 200px;
	height: 30px;
	color: white;
	font-size: 20px;
	text-align: center;
	border: 2px solid rgba(255, 255, 100, 0.4);
	border-radius: 2px;
	background: transparent;
}

.Searcher>.menu>ul {
    z-index: 1000;
    background: white;
    /* 去除li的原点占位 */
    padding-left: 0px;
	position: absolute;
	top: calc(50% + 15px);
	left: calc(50% - 100px);

	/* 
    去掉宽度后就可以自适应了
    width: 200px;
    */
	max-height: 400px;
	overflow: scroll;
	list-style: none;	
	border: 1px solid #778899;
}

.Searcher>.menu>ul li{
    min-width: 200px;
    width: auto;
    font-size: 25px;
    color: black;
    text-shadow: none;
    padding: 5px;
}

.Searcher>.menu>ul li>.description {
    float: right;
    right: 5px;
    width: 0;
    height:0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 13px solid black;
}

.showDescription {
    min-width: 150px;
    width: auto;
    min-height: 100px;
    height: auto;
    overflow: scroll;
    background-color: white;
    color: black;
    text-shadow: none;
    font-size: 20px;
    border: 2px solid black;
}

.Searcher>.menu>ul li:not(:last-child) {
    border-bottom: 1px solid black;
}

.Searcher>.menu>ul li.hover{
	background-color: #87CEFA;
}

.Searcher>.menu>.search {
	position: absolute;
	left: calc(50% + 115px);
	top: calc(50% - 15px);
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: rgba(200, 200, 100, 0.5);
}

.Searcher>.menu>.clear {
	position: absolute;
	left: calc(50% + 190px);
	top: calc(50% - 15px);
	width: 95px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: rgba(200, 200, 100, 0.5);
}


.Searcher>.menu>.close {
	position: absolute;
	right: 5px;
	top: calc(50% - 15px);
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: red;
}

.updateContent {
	top: 20%;
	left: 15%;
	width: 70%;
	height: 60%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 100;
	overflow-y: scroll;
}

.updateContentClose {
	position: absolute;
	right: 0px;
	width: 50px;
	height: 50px;
	background: silver;
	border-radius: 25px;
	box-shadow: 2px 2px 5px 0px black;
	cursor: pointer;
	z-index: 100;
}

.updateContentClose:hover {
	background: red;
}

.updateContentClose:before {
	position: absolute;
	content: '';
	width: 30px;
	height: 10px;
	background: white;
	transform: rotate(45deg);
	top: 20px;
	left: 10px;
}

.updateContentClose:after {
	content: '';
	position: absolute;
	width: 30px;
	height: 10px;
	background: white;
	transform: rotate(-45deg);
	top: 20px;
	left: 10px;
}

.updateContentButton {
	z-index: 100;
	position: absolute;
	bottom: 15px;
	width: 30%;
	left: 35%;
}

.qnssSee {
    color: #409eff;
    text-decoration: underline;
    cursor: pointer;
}